<!DOCTYPE html>
<html lang="en">
<head>{% block head %}
  <title>Propeers</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<style>
		#first { 
			display: block;
			margin-top: 0.5em;
			margin-bottom: 0.5em;
			margin-left: 280px;
			margin-right: auto;
			border-style: inset;
			border-width: 1px;
		} 
				
		h1 {
			font-family: "Courier New", Courier, monospace
			
		}
		h3 {
			font-family: "Courier New", Courier, monospace
			
		}
		h4 {
			font-family: "Courier New", Courier, monospace
			
		}
.col-sm-4.twitter {
    max-height: 500px !important;
    overflow: scroll;
}
.django_instagram_media_wall_item {
    margin: 2px;
    width: 23% !important;
}

.django_instagram_media_wall_item {
    width:  25%; height: auto;
    float: left;
    position: relative
}

.django_instagram_media_wall_item img {
    width: 100%; height: auto;
    float: left
}

.django_instagram_media_wall_item a span {
    position: absolute;
    bottom: 0; left: 0; right: 0;
    color: #F3F3F3; background: #222222; opacity: 0.8;
    z-index: 50
}

</style>{% endblock %}
</head>
<body>
{% block body %}

<div class="container">
	<h1>PROPEERSINFO</h1>
		 <h4 align="right"> <a href="#">LOSANGELES</a> |<a href="#"> MIAMI</a> |<a href="#"> NEWYORK</a> |<a href="#"> LONDON</a></h4> 
		<hr id="first">
		<h4 align="left"> <a href="#">MEN</a>|<a href="#"> WOMEN</a>|<a href="#"> CELEBRITY</a>|<a href="#"> ARTIST</a> 
		<a href="#">KIDS & TEENS</a>|<a href="#"> FOLLOW US</a>|<a href="#"> MARKETTING</a>|<a href="#">CONTACT</a></h4>  
		<p> </p>     
  	<br>
	<div class="row">
		<div class="col-sm-4" style="background-color:white;">
			<h3>NEWS</h3>
		<!--<a href="/news_detail/{{ detail.id }}"> -->
			<ul class="list-group">
			{% for detail in newsinfo %}
			<li class="list-group-item">
				<a style="text-decoration:none;" href="/details/{{ detail.id }}">
						<p> </p>
						<p> </p>
				</a>
			</li>
			{% endfor %}
	</ul>	
    	</div>


		<div class="col-sm-4" style="background-color:white;">
			<h3>FACEBOOK</h3>
			<div id="fb-root"></div>
				<script>(function(d, s, id) {
				  var js, fjs = d.getElementsByTagName(s)[0];
				  if (d.getElementById(id)) return;
				  js = d.createElement(s); js.id = id;
				  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=852444921538843";
				  fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>
			
			<div class="fb-page" data-href="https://www.facebook.com/Propeers-1697587167151398/" data-tabs="timeline" data-width="350" data-height="560" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
			
		</div>

		<div class="col-sm-4" style="background-color:white;">
			<h3>INSTAGRAM</h3>
	<link type="text/css" rel="stylesheet" href="/static/django_instagram/css/wall.css">


    <div id="django_instagram_media_wall">
        
            <div class="django_instagram_media_wall_item">
                <a title="" target="_blank" href="https://www.instagram.com/p/BFDUb79r_zZ/">
                    <img src="https://scontent.cdninstagram.com/t51.2885-15/s480x480/e35/13116720_1729274790617986_49303912_n.jpg?ig_cache_key=MTI0MzkyNzgwMjgyNjE5NDEzNw%3D%3D.2">
                    <span></span>
                </a>
            </div>
        
            <div class="django_instagram_media_wall_item">
                <a title="" target="_blank" href="https://www.instagram.com/p/BFDUP1TL_zL/">
                    <img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13166925_1685946058334390_994784782_n.jpg?ig_cache_key=MTI0MzkyNjk3MTAzNjk5MDY2Nw%3D%3D.2">
                    <span></span>
                </a>
            </div>
        
            <div class="django_instagram_media_wall_item">
                <a title="" target="_blank" href="https://www.instagram.com/p/BFDULgqL_zE/">
                    <img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13116639_906787059434278_470130757_n.jpg?ig_cache_key=MTI0MzkyNjY3Mzk5NjM4MTM4MA%3D%3D.2">
                    <span></span>
                </a>
            </div>
        
            <div class="django_instagram_media_wall_item">
                <a title="" target="_blank" href="https://www.instagram.com/p/BFDUG1jL_y_/">
                    <img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13129769_213151262404242_2099832610_n.jpg?ig_cache_key=MTI0MzkyNjM1MjgzMDEzNTQ4Nw%3D%3D.2">
                    <span></span>
                </a>
            </div>
        
            <div class="django_instagram_media_wall_item">
                <a title="" target="_blank" href="https://www.instagram.com/p/BFDUAsPr_y3/">
                    <img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13129246_1737528306529236_1466283063_n.jpg?ig_cache_key=MTI0MzkyNTkzMDUyMjQ0MjkzNQ%3D%3D.2">
                    <span></span>
                </a>
            </div>
        
            <div class="django_instagram_media_wall_item">
                <a title="" target="_blank" href="https://www.instagram.com/p/BFDT8Gir_yu/">
                    <img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13166908_1011121148975326_128177319_n.jpg?ig_cache_key=MTI0MzkyNTYxNTE2MTExMzc3NA%3D%3D.2">
                    <span></span>
                </a>
            </div>
        
            <div class="django_instagram_media_wall_item">
                <a title="" target="_blank" href="https://www.instagram.com/p/BFDT3fcL_yk/">
                    <img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13129972_1744602995776761_453502733_n.jpg?ig_cache_key=MTI0MzkyNTI5ODI5ODIyMzc4MA%3D%3D.2">
                    <span></span>
                </a>
            </div>
        
            <div class="django_instagram_media_wall_item">
                <a title="" target="_blank" href="https://www.instagram.com/p/BFA_oXbL_8f/">
                    <img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13188186_1071278902937783_1783117688_n.jpg?ig_cache_key=MTI0MzI3MzM0ODAxNTcxODE3NQ%3D%3D.2">
                    <span></span>
                </a>
            </div>
        
            <div class="django_instagram_media_wall_item">
                <a title="" target="_blank" href="https://www.instagram.com/p/BFA92Ryr_6q/">
                    <img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13126673_603919023107635_1946769462_n.jpg?ig_cache_key=MTI0MzI2NTUwNzk0NzE4Mzc4Ng%3D%3D.2">
                    <span></span>
                </a>
            </div>
        
            <div class="django_instagram_media_wall_item">
                <a title="" target="_blank" href="https://www.instagram.com/p/BFA9zHlL_6n/">
                    <img src="https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/13150882_1702098133363382_1070611485_n.jpg?ig_cache_key=MTI0MzI2NTI5MDgyNDg0MjkxOQ%3D%3D.2">
                    <span></span>
                </a>
            </div>
        
    </div>
    <script src="/static/django_instagram/js/masonry/masonry.pkgd.min.js"></script>
    <script>
        $.ready(function() {
            var container = document.querySelector('#django_instagram_media_wall');
            var masonry = new Masonry(container, {
                itemSelector: '.django_instagram_media_wall_item'
            });
        });
    </script>


    	</div>

	</div> <!--row div -->
</div><!--container div -->

<hr>

<div class="container">
	<div class="row">
		<div class="col-sm-4" style="background-color:white;">
			<h3>YOUTUBE</h3>
    			<iframe width="350" height="300" src="https://www.youtube.com/embed/TusdxsxjQ1g" frameborder="0" allowfullscreen></iframe> 
    	</div>

		<div class="col-sm-4" style="background-color:white;">
			<h3>LINKEDIN</h3>
				<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
				<script type="IN/JYMBII" data-companyid="1756" data-format="inline"></script>    
    
    	</div>
		<div class="col-sm-4 twitter" style="background-color:white;">
		<h3>TWITTER</h3>
				<a class="twitter-timeline" href="https://twitter.com/dipoosuraj" data-widget-id="717574654173405184" data-tweet-limit="20">
				Tweets by @dipoosuraj</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> 
		</div>
		
		
	</div>
</div>
    {% endblock %}
</body>

</html>


